.customer-state-container-1 {
    background-color: #f2ff26;
}

.customer-state-container-2 {
    background-color: #4481f9;
}

.customer-state-container-3 {
    background-color: #36bd36;
}

.customer-state-container-4 {
    background-color: #959595;
}

.customer-state-container-5 {
    background-color: #f24242;
}